<!DOCTYPE html>
<html lang="en" data-theme="forest">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style/output.css">
</head>
<body>
    <div
    class="hero min-h-screen"
    style="background-image: url(images/background/SL_042221_42420_10.jpg);">
    <div class="hero-overlay bg-opacity-60"></div>
    <div class="hero-content text-neutral-content text-center">
      <div class="max-w-md">
        <h1 class="mb-5 text-5xl font-bold">Hello there</h1>
        <p class="mb-5 ">
            Get ready to experience weather updates like never before! Our app provides real-time weather information at your fingertips. Whether you're planning your day or just curious about the forecast, we've got you covered.
        </p>
        <a href="/getWeather">
        <button id="entry" class="btn btn-primary">Get Started</button>
    </a>
      </div>
    </div>
  </div>
  


</body>
<script src="/script /script.js"></script>
</html>